<app-header></app-header>

<h3>Pipe</h3>
<app-pipe></app-pipe>
<hr>
<h1>{{title}}</h1>
<app-favorite [isFavorite]="isFavorite"></app-favorite>
<div *ngIf="cartitems.length == 0">
    No items in cart
</div>
<div *ngIf="cartitems.length > 0">
    {{cartitems.length}} items in cart
</div>

<div *ngIf="cartitems.length == 0; then content else other_content">
</div>

<ng-template #content>
    No items in cart
</ng-template>
<ng-template #other_content>
    {{cartitems.length}} items in cart
    <ul>
        <li *ngFor="let udObj of cartitems">
            {{udObj}}
        </li>
    </ul>
</ng-template>

<p>Pellentesque habitant morbi tristique senectus</p>
<app-newcomp></app-newcomp>
Name:
<input type="text" [value]="myvalue" (input)="myvalue=$event.target.value" /> {{myvalue}}

<input type="text" [(ngModel)]="myval" /> {{myval}}
<button class="btn btn-info" (click)="callme($event)">Call me</button>
<button class="btn btn-info" [class.active]="selected">Call me</button>
<br />
<h3>{{userDataTitle}}</h3>
<ul>
    <li *ngFor="let udObj of userdata">
        {{udObj}}
    </li>
</ul>
<h3>{{departmentTitle}}</h3>
<ul>
    <li *ngFor="let ddObj of myDept">
        {{ddObj}}
    </li>
</ul>

<app-footer></app-footer>