<form (ngSubmit)="formsubmit(f)" #f="ngForm">
  <div class="form-group">
    <label for="txtUsername">Username</label>
    <input #uname=ngModel name="username" required [(ngModel)]="userdata.username" type="text" class="form-control" placeholder="Username">
    <div class="ng-invalid" *ngIf="!uname.valid">
      Username cannot be blank
    </div>
  </div>
  <div class="form-group">
    <label for="txtPassword">Password</label>
    <input name="password" [(ngModel)]="userdata.password" type="password" class="form-control" id="txtPassword" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="txtEmail">Email</label>
    <input #temail=ngModel name="email" required email="true" [(ngModel)]="userdata.email" type="email" class="form-control"
      placeholder="Email">
    <div class="ng-invalid" *ngIf="!temail.valid">
      Email cannot be blank
    </div>
    <!-- <div class="ng-invalid" *ngIf="!temail.valid.email">
      Email is invalid
    </div> -->
  </div>
  <div class="form-group">
    <label for="txtCity">City</label>
    <input #city=ngModel required name="city" [(ngModel)]="userdata.city" type="text" class="form-control" placeholder="City">
    <div class="ng-invalid" *ngIf="!city.valid">
      City cannot be blank
    </div>
  </div>
  <button [disabled]="!f.valid" type="submit" class="btn btn-default">Submit</button>
</form>